Source: xwidgets
Priority: optional
Section: devel
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends: cmake (>= 3.8),
 debhelper-compat (= 12),
 googletest <!nocheck>,
 nlohmann-json3-dev (>= 3.9.1),
 nlohmann-json3-dev (< 3.10.4) | nlohmann-json3-dev (>= 3.10.5+p372a47),
 nlohmann-json3-dev (< 3.10.6),
 pkgconf,
 xeus-dev (>= 2.0),
 xproperty-dev (>= 0.11.0),
 xtl-dev (>= 0.7)
Standards-Version: 4.5.1
Homepage: https://github.com/jupyter-xeus/xwidgets
Rules-Requires-Root: no

Package: libxwidgets1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A C++ backend for Jupyter interactive widgets
 xwidgets is a C++ implementation of the Jupyter interactive widgets protocol.
 .
 xwidgets enables use of the Jupyter interactive widgets in a C++ notebook,
 powered by the xeus-cling kernel or the cling C++ interpreter from CERN.
 .
 This package contains the shared library.

Package: xwidgets-dev
Architecture: any
Multi-Arch: same
Depends: libxwidgets1 (= ${binary:Version}),
 nlohmann-json3-dev (>= 3.9.1),
 nlohmann-json3-dev (< 3.10.4) | nlohmann-json3-dev (>= 3.10.5+p372a47),
 nlohmann-json3-dev (< 3.10.6),
 xeus-dev (>= 2.0),
 xproperty-dev (>= 0.11.0),
 xtl-dev (>= 0.7),
 ${misc:Depends}
Description: A C++ backend for Jupyter interactive widgets
 xwidgets is a C++ implementation of the Jupyter interactive widgets protocol.
 .
 xwidgets enables use of the Jupyter interactive widgets in a C++ notebook,
 powered by the xeus-cling kernel or the cling C++ interpreter from CERN.
 .
 This package contains the development files.
